// font-family: 'Montserrat', sans-serif;
@font-face {
  font-family: 'Neometric';
  src: url('../fonts/Neometric-Regular.woff2') format('woff2'),
      url('../fonts/Neometric-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neometric';
  src: url('../fonts/Neometric-Medium.woff2') format('woff2'),
      url('../fonts/Neometric-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tifwvh');
  src:  url('../fonts/icomoon.eot?tifwvh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tifwvh') format('truetype'),
    url('../fonts/icomoon.woff?tifwvh') format('woff'),
    url('../fonts/icomoon.svg?tifwvh#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-plus:before {
  content: "\f00e";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
