$blue: #D1E0FF;
$yellow: #FFF159;
@mixin m400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin neo400 {
  font-family: 'Neometric';
  font-weight: 400;
}
@mixin neo500 {
  font-family: 'Neometric';
  font-weight: 500;
}
@mixin sec-top {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/section-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    width: 400px;
    height: 44px;
    transform: translate(-50%, -50%);
  }
}