@import 'fonts';
@import 'vars';
@import 'global';

// Banner start
.banner {
  img {
    // max-height: 390px;
    display: block;
    width: 100%;
  }
}
// Banner end

// Menu start
.menu__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 0;
}
.menu__list li {
  & + li {
    margin-left: 38px;
  }
}
.menu__list a {
  @include m400;
  color: #000;
  font-size: 21px;
  line-height: 21px;
}
.menu__btn {
  margin-left: 100px;
  img {
    max-width: 260px;
  }
}

// Menu end

// Header start
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.header__info {
  max-width: 700px;
  width: 100%;
  @include neo400;
}
.header__logo {
  margin-bottom: 60px;
}
.header__text {
  font-size: 36px;
  line-height: 48px;
}
.header__img {
  max-width: 540px;
}
.header__counter {
  text-align: center;
  padding-bottom: 70px;
  @include neo500;
}
.header__counter-title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
.counter {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #395999;
  margin-bottom: 50px;
}
.counter-item {
  font-size: 96px;
  line-height: 96px;
  position: relative;
  display: flex;
  span {
    margin-right: 6px;
    background-color: #fff;
    background-color: $blue;
    padding: 20px 25px;
  }
  div + span {
    margin-left: 6px;
  }
  & + .counter-item {
    margin-left: 30px;
  }
  div {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
.header__btn {
  margin-top: 30px;
  img {
    max-width: 400px;
  }
}
// Header end

// Gallery start
.gallery {
  @include sec-top;
  background-color: $blue;
}
.gallery__inner {
  padding: 140px 0px 90px;
}
.gallery__photo {
  background-color: #C4C4C4;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery .slick-arrow {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid $yellow;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .4s;
  z-index: 10;
  &:hover {
    background-color: $yellow;
  }
}
.gallery {
  .slick-prev {
    top: 50%;
    left: -100px;
    &::before {
      font-family: 'icomoon' !important;
      content: "\f104";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: 300;
    }
  }
  .slick-next {
    top: 50%;
    right: -100px;
    &::before {
      font-family: 'icomoon' !important;
      content: "\f105";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: 300;
    }
  }
}
.gallery .slick-dots {
  font-size: 0;
  text-align: center;
  margin-top: 15px;
  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  li {
    border-radius: 50%;
    background-color: #C8C8C8;
    cursor: pointer;
    transition: .5s;
    width: 20px;
    height: 20px;
    &.slick-active {
      background-color: $yellow;
    }
    & + li {
      margin-left: 10px;
    }
  }
}
// Gallery end
@import 'media';