@import 'fonts';
@import 'vars';
@import 'global';

// Banner start
.banner {
  img {
    // max-height: 390px;
    display: block;
    width: 100%;
  }
}
// Banner end

// Menu start
.menu__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 0;
  position: relative;
}
.menu__list li {
  position: relative;
  text-decoration: none;
  & + li {
    margin-left: 38px;
  }
}
.menu__list a {
  @include m400;
  color: #000;
  font-size: 21px;
  line-height: 21px;
}
.menu__btn {
  width: 250px;
  min-height: 60px;
  margin-left: 110px;
  font-size: 24px;
  line-height: 29px;
}
.menu__logo {
  display: none;
}

.header__link {
  position: relative;
  text-decoration: none;
}

.header__link>.link__text:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #4163A1;
  transform: scale(0, 1);
  transition: transform 0.5s;
  transform-origin: 100% 50%;
}

.header__link:hover .link__text:after {
  transform: scale(1, 1);
  transform-origin: 0 50%;
}
.menu-burger {
  width: 27px;
  color: #4163A1;
  font-size: 9px;
  line-height: 10px;
  margin-right: auto;
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #4163A1;
    border-radius: 10px;
    & + span {
      margin-top: 3px;
    }
  }
  div {
    margin-top: 2px;
  }
}
#top_nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
// Menu end

// Header start
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-top: 140px;
}
.header__info {
  max-width: 700px;
  width: 100%;
  @include neo400;
}
.header__logo {
  margin-bottom: 60px;
}
.header__text {
  font-size: 36px;
  line-height: 48px;
}
.header__img {
  max-width: 540px;
}
.header__counter {
  text-align: center;
  padding-bottom: 70px;
  @include neo500;
}
.header__counter-title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
.counter {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #395999;
  margin-bottom: 50px;
}
.counter-item {
  font-size: 96px;
  line-height: 96px;
  position: relative;
  display: flex;
  span {
    margin-right: 6px;
    background-color: #fff;
    background-color: $blue;
    padding: 20px 25px;
  }
  div + span {
    margin-left: 6px;
  }
  & + .counter-item {
    margin-left: 30px;
  }
  div {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
.header__btn {
  margin-top: 30px;
  img {
    max-width: 400px;
  }
}
// Header end

// Gallery start
.gallery {
  // @include sec-top;
  background-color: $blue;
}
.gallery__inner {
  padding: 140px 0px 90px;
}
.gallery__photo {
  background-color: #C4C4C4;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.gallery .slick-arrow,
.poster .slick-arrow {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid $yellow;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .4s;
  z-index: 8;
  &:hover {
    background-color: $yellow;
  }
}
.gallery,
.poster {
  .slick-prev {
    top: 50%;
    left: -100px;
    &::before {
      font-family: 'icomoon' !important;
      content: "\f104";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: 300;
    }
  }
  .slick-next {
    top: 50%;
    right: -100px;
    &::before {
      font-family: 'icomoon' !important;
      content: "\f105";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: 300;
    }
  }
}
.gallery .slick-dots,
.poster .slick-dots {
  font-size: 0;
  text-align: center;
  margin-top: 15px;
  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  li {
    border-radius: 50%;
    background-color: #C8C8C8;
    cursor: pointer;
    transition: .5s;
    width: 20px;
    height: 20px;
    &.slick-active {
      background-color: $yellow;
    }
    & + li {
      margin-left: 10px;
    }
  }
}
// Gallery end

// About start
.about {
  // @include sec-top;
  padding: 120px 0;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  max-width: 50%;
  width: 100%;
  height: 400px;
  background-color: #C4C4C4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    // height: 100%;
  }
}
.about__info {
  max-width: 540px;
  width: 100%;
  padding: 60px 0;
}
.about__info-title {
  @include neo700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}
.about__info-text {
  font-size: 21px;
  line-height: 25px;
}
// About end

// Poster start
.poster {
  // @include sec-top;
  background-color: $blue;
}
.poster__inner {
  padding: 100px 0;
}
.poster__slider-item {
  height: 540px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    .icon-search-plus {
      transform: scale(1);
    }
  }
}
.gallery__photo {
  &:hover {
    .icon-search-plus {
      transform: scale(1);
    }
  }
}
.poster .slick-slide {
  width: 380px;
  margin-right: 60px;
}
.icon-search-plus {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 16px;
  color: #fff;
  border: 1px solid $yellow;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 400;
  transition: .3s;
  background-color: transparent;
  cursor: pointer;
  transform: scale(0);
  &:hover {
    background-color: $yellow;
    color: #000;
    transform: scale(1.25) !important;
  }
}
// Poster end

// Footer start
.footer__inner {
  padding: 120px 0 70px;
}
.footer__info {
  display: flex;
  align-items: center;
  margin-bottom: 110px;
}
.footer__info-image {
  max-width: 380px;
  width: 100%;
  margin-right: 150px;
  img {
    width: 380px;
    height: 380px;
  }
}
.footer__info-text {
  font-size: 21px;
  line-height: 25px;
}
.footer__info-social {
  display: flex;
  margin-top: 60px;
  a + a {
    margin-left: 40px;
  }
}
.footer__info-content {
  max-width: 540px;
  width: 100%;
}
.footer__map {
  height: 580px;
  iframe {
    height: 100%;
  }
}
.works__title {
  @include m400;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 40px;
  text-align: center;
}
.works__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 30px;
}
.works__text {
  margin-bottom: auto;
}
// Footer end

// Modal start
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 200px;
  padding: 35px 50px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @include m400;
  max-width: 600px;
  z-index: 12;
  transition: opacity .8s;
  opacity: 0;
  transform: scale(0);
  &.active {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
.modal__heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 32px;
}
.modal__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.modal__line input {
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 15px;
  @include m400;
  margin-right: 20px;
  color: #000;
  &::placeholder {
    color: #000;
  }
}
.modal__line button {
  min-height: 40px;
  width: 160px;
}
.modal__caption {
  @include m400;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  span {
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
}
// Modal end

// Protect start
.protect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  max-height: 0px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @include m400;
  max-width: 660px;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  transition: .5s;
  &.active {
    padding: 30px 50px;
    opacity: 1;
    max-height: 690px;
    overflow-y: scroll;
  }
}
.protect__heading {
  @include m600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}
.protect__list li {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}
.overlay {
  position: fixed;
  z-index: 10;
  background-color: rgba(#000, .7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: opacity .8s;
  &.active {
    transform: scale(1);
    opacity: 1;
  }
}
.protect-close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    &+span {
      transform: rotate(-45deg);
    }
  }
}
// Protect end
@import 'media';