@import 'fonts';
@import 'vars';
@import 'global';

// Banner start
.banner {
  img {
    // max-height: 390px;
    display: block;
    width: 100%;
  }
}
// Banner end

// Menu start
.menu__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 0;
}
.menu__list li {
  & + li {
    margin-left: 38px;
  }
}
.menu__list a {
  @include m400;
  color: #000;
  font-size: 21px;
  line-height: 21px;
}
.menu__btn {
  margin-left: 100px;
  img {
    max-width: 260px;
  }
}

// Menu end

// Header start
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.header__info {
  max-width: 700px;
  width: 100%;
  @include neo400;
}
.header__logo {
  margin-bottom: 60px;
}
.header__text {
  font-size: 36px;
  line-height: 48px;
}
.header__img {
  max-width: 540px;
}
.header__counter {
  text-align: center;
  padding-bottom: 70px;
  @include neo500;
}
.header__counter-title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
.counter {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #395999;
  margin-bottom: 50px;
}
.counter-item {
  font-size: 96px;
  line-height: 96px;
  position: relative;
  display: flex;
  span {
    margin-right: 6px;
    background-color: #fff;
    background-color: $blue;
    padding: 20px 25px;
  }
  div + span {
    margin-left: 6px;
  }
  & + .counter-item {
    margin-left: 30px;
  }
  div {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
.header__btn {
  margin-top: 30px;
  img {
    max-width: 400px;
  }
}
// Header end
@import 'media';